*.userprefs
*.swp
*.suo
*.opensdf
*.sdf
*.db
.DS_Store
.build/
Packages/
*.xcodeproj
Package.pins
*.pem
Package.resolved
.podspecs
_build/
.vscode/
build/linux/debian_sid_amd64-sysroot/
build/linux/debian_sid_i386-sysroot/
out/
out_bootstrap/
tools/gen/out/
third_party/llvm-build/
third_party/WebKit/
third_party/libtorrent/third_party/
kit/swift/_/
kit/swift/_Data/
lib/__base/
lib/__gin/
lib/__ipc/
lib/__mojo/
lib/_bundle/
lib/_data/
lib/_db/
lib/_graphql/
