# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# General file descriptor operations.
read: 1
readv: 1
write: 1
writev: 1
close: 1

# Event handling.
epoll_create1: 1
epoll_ctl: 1
epoll_wait: 1
eventfd2: 1
poll: 1
ppoll: 1

# Memory management.
brk: 1
madvise: arg2 == MADV_DONTNEED || arg2 == MADV_DONTDUMP || arg2 == MADV_REMOVE
mmap2: arg2 in ~PROT_EXEC
mprotect: arg2 in ~PROT_EXEC
mremap: 1
munmap: 1

# Signal handling
rt_sigaction: 1
rt_sigprocmask: 1
rt_sigreturn: 1
sigaltstack: 1

# Misc.
kill: 1
nanosleep: 1
clock_nanosleep: 1
restart_syscall: 1

# Getters.
getpid: 1
gettid: 1
gettimeofday: 1
sched_getaffinity: 1

# Threading operations.
clone: arg0 & CLONE_THREAD
futex: 1
prctl: arg0 == PR_SET_NAME
set_robust_list: 1

# Syscalls used at most once.
exit: 1
exit_group: 1
