# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This service is started when "start-user-session.target" is started.
# The environment CHROME_USER is set before starting "start-user-session.target"

[Unit]
Description=connection-manager-specific session setup tasks.

[Service]
Type=oneshot
StartLimitInterval=0
ExecStart=/usr/bin/shill_login_user ${CHROMEOS_USER}
