# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

openat: 1
# Make sure PROT_WRITE (bit 1) and PROT_EXEC (bit 2) are not both set.
mmap: arg2 in ~PROT_WRITE || arg2 in ~PROT_EXEC
fstat: 1
close: 1
read: 1
# Make sure PROT_WRITE (bit 1) and PROT_EXEC (bit 2) are not both set.
mprotect: arg2 in ~PROT_WRITE || arg2 in ~PROT_EXEC
getdents64: 1
getpid: 1
gettimeofday: 1
write: 1
sendto: 1
unlink: 1
brk: 1
rt_sigaction: 1
rmdir: 1
futex: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
uname: 1
connect: 1
getrlimit: 1
exit_group: 1
rt_sigprocmask: 1
faccessat: 1
faccessat2: 1
lseek: 1
set_tid_address: 1
set_robust_list: 1
munmap: 1
execve: 1
socket: arg0 == AF_UNIX
# Used by libbrillo to know whether stderr is a TTY.
ioctl: arg1 == TCGETS
prlimit64: arg2 == 0 && arg3 != 0
clock_gettime: 1
