# Ensure ieee80211 dir in debugfs is readable by members of the debugfs-access
# group.
SUBSYSTEM=="net", ACTION=="add", ENV{DEVTYPE}=="wlan", RUN+="/bin/chown -R root:debugfs-access /sys/kernel/debug/ieee80211", RUN+="/bin/chmod -R g+r /sys/kernel/debug/ieee80211"
